< !DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
  </head>

  <body>
    <h1>Admin Product</h1>

    <form action="/Add" method="POST">
      <input type="text" placeholder="product name">
      <input type="text" placeholder="product description">
      <input type="text" placeholder="product image">
      <input type="text" placeholder="product price">
    </form>

  </body>

  </html>