<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
</head>

<body>
  <h1>Admin</h1>
  <div class="item">
    <form action="/product" method="POST">
      <button>Product</button>
    </form>
    <form action="/category" method="GET">
      <button>Category</button>
    </form>
  </div>
</body>

</html>